/* style.css */
.background-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../public/images/login.jpg');
    background-size: cover;
    background-position: center;
  }
  